@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.containerJuego {
    background-image: url("fondo-juego.jpg");
    border: 1px solid #ff0000;
    background-size: cover;
    width: 606px;
    height: 680px;
    margin: 0 auto;
    z-index: 50;
}

.tabla {
    position: relative;
    background-image: url("tabla.jpg");
    width: 117px;
    height: 13px;
    border-radius: 16px;

}

.pelota {
    background-image: url("pelota.png");
    background-size: cover;
    border-radius: 50%;
    position: relative;
    width: 20px;
    height: 20px;

}

.muro {
    width: 117px;
    height: 50px;
    background-image: url("muro.jpg");
    background-size: cover;
    position: relative;
}

.campana {
    background-image: url("campana.png");
    background-size: cover;
    position: relative;
    width: 60px;
    height: 60px;
    left: 275px;
}

.displayGame {
    position: absolute;
    background-image: url('basketIntro.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 5000;
    top: 0px;


}

.displayGame>button {
    font-size: 2vw;
    background: red;
    border: none;
    border-radius: 26px;
    width: 17vw;
    height: 5vh;
    cursor: pointer;
    position: absolute;
    left: 200px;
    top: 56vh;
    color: white;
}

.containerFire {
    width: 608px;
    margin: 0 auto;
    background: black;
    height: 54px;
}

.containerFire>img {
    height: 54px;
}

.animationGame {
    display: flex;
    justify-content: space-around;
    max-width: 1026px;
    margin: 0 auto;
    font-family: 'Press Start 2P', cursive;
}

.containerScore {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #fff0f0;
}

.containerScore>h1 {
    font-size: 41px;
}

.containerScore>p {
    font-size: 30px;
    margin-bottom: 110px;
}

.containerScore>img {
    margin-top: 15px;
}

.containerReStart {
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    display: none;
    background-color: #ffffffb8;
}

.containerReStart>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerReStart>div>h1 {
    font-size: 55px;
    font-family: 'Press Start 2P', cursive;
}

.containerReStart>div>button {
    width: 162px;
    height: 52px;
    background: black;
    color: white;
    margin-top: 50px;
    font-size: 17px;
    border-radius: 33px;
    cursor: pointer;
}

.scoreGameOver {
    font-size: 25px;
    font-family: 'Press Start 2P';
}

body {
    background-image: url("background-game.jpg");
    zoom: 85%
}